## Shared ##
NODE_ENV=development
AUTH_MICROSERVICE_URL=http://localhost:4000/api/v2
META_DATA_MICROSERVICE_URL=http://localhost:4444/api/v1
LOG_LEVEL=info

## Notification Microservice ##
NOTIFICATION_SERVICE_PORT=4003

NOTIFICATION_SERVICE_AUTOMATED_TEST_JWT=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6InBuc3VAYW1pZGEuY29tIiwiaWF0IjoxNTE2MjM5MDIyLCJqdGkiOiJjZDlkMmI5MS05MTAxLTQ1ZDEtOGM3My1jNWZlOTgwYzc0NDgiLCJleHAiOjE1NTkxNTc1ODB9.WJ0XM9Pl0LJfbXZ3JOqkRu601qw0lNfFm3NZyRwfuLI

NOTIFICATION_SERVICE_PG_HOST=localhost
NOTIFICATION_SERVICE_PG_PORT=5432
NOTIFICATION_SERVICE_PG_DB=amida_notification_microservice
NOTIFICATION_SERVICE_PG_USER=amida_notification_microservice
NOTIFICATION_SERVICE_PG_PASSWORD=
NOTIFICATION_SERVICE_PG_SSL_ENABLED=false
NOTIFICATION_SERVICE_METADATA_SERVICE_ENABLED=false
// NOTIFICATION_SERVICE_PG_CA_CERT=

## Integration With Amida Auth Microservice ##
JWT_SECRET=0a6b944d-d2fb-46fc-a85e-0295c986cd9f
PUSH_NOTIFICATIONS_SERVICE_USER_USERNAME=pnsu@amida.com
PUSH_NOTIFICATIONS_SERVICE_USER_PASSWORD=Test123!

## Enabling Push Notifications ##

### Integration With Apple Push Notifications for iOS ###
PUSH_NOTIFICATIONS_APN_ENABLED=false
PUSH_NOTIFICATIONS_APN_ENV=development
PUSH_NOTIFICATIONS_APN_TEAM_ID=
PUSH_NOTIFICATIONS_APN_KEY_ID=
PUSH_NOTIFICATIONS_APN_TOPIC=
PUSH_NOTIFICATIONS_APN_KEY_PATH=/app/iosKey.p8

### Integration With Firebase Cloud Messaging for Android ###
PUSH_NOTIFICATIONS_FCM_API_URL=https://fcm.googleapis.com/fcm/send
PUSH_NOTIFICATIONS_FCM_SERVER_KEY=
